:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}
